In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import *

In [4]:
spark = SparkSession.builder.appName('df-sql-banking').getOrCreate()

In [5]:
df = spark.read.csv(path = r"C:\Users\miles.MILE-BL-4492-LA\Downloads\bankmarketdata.csv", header=True, sep = ";", escape = ",", inferSchema = True )

In [6]:
df.createOrReplaceTempView("banking")

In [12]:
spark.sql("SELECT age, y FROM banking").show()

+---+---+
|age|  y|
+---+---+
| 58| no|
| 44| no|
| 33| no|
| 47| no|
| 33| no|
| 35| no|
| 28| no|
| 42| no|
| 58| no|
| 43| no|
| 41| no|
| 29| no|
| 53| no|
| 58| no|
| 57| no|
| 51| no|
| 45| no|
| 57| no|
| 60| no|
| 33| no|
+---+---+
only showing top 20 rows

In [41]:
#1
success_count = spark.sql("SELECT SUM(IF(y == 'yes', 1, 0))/count(*)*100 as success_rate FROM banking")
success_count.show()

+------------------+
|      success_rate|
+------------------+
|11.698480458295547|
+------------------+

In [42]:
#2
failure_count = spark.sql("SELECT SUM(IF(y == 'no', 1, 0))/count(*)*100 as failure_rate FROM banking")
failure_count.show()

+-----------------+
|     failure_rate|
+-----------------+
|88.30151954170445|
+-----------------+

In [45]:
#3
spark.sql("SELECT max(age) FROM banking").show()

+--------+
|max(age)|
+--------+
|      95|
+--------+

In [46]:
spark.sql("SELECT min(age) FROM banking").show()

+--------+
|min(age)|
+--------+
|      18|
+--------+

In [47]:
spark.sql("SELECT avg(age) FROM banking").show()

+-----------------+
|         avg(age)|
+-----------------+
|40.93621021432837|
+-----------------+

In [48]:
#4
spark.sql("SELECT avg(balance) FROM banking").show()

+------------------+
|      avg(balance)|
+------------------+
|1362.2720576850766|
+------------------+

In [50]:
spark.sql("SELECT PERCENTILE(CAST(BALANCE AS BIGINT),0.5) as MEDIAN FROM banking").show()

+------+
|MEDIAN|
+------+
| 448.0|
+------+

In [54]:
#5
spark.sql("SELECT age, count(*) FROM banking where y = 'yes' group by age order by 1").show()

+---+--------+
|age|count(1)|
+---+--------+
| 18|       7|
| 19|      11|
| 20|      15|
| 21|      22|
| 22|      40|
| 23|      44|
| 24|      68|
| 25|     113|
| 26|     134|
| 27|     141|
| 28|     162|
| 29|     171|
| 30|     217|
| 31|     206|
| 32|     221|
| 33|     210|
| 34|     198|
| 35|     209|
| 36|     195|
| 37|     170|
+---+--------+
only showing top 20 rows

In [55]:
#6
spark.sql("SELECT marital, count(*) FROM banking where y = 'yes' group by marital order by 1").show()

+--------+--------+
| marital|count(1)|
+--------+--------+
|divorced|     622|
| married|    2755|
|  single|    1912|
+--------+--------+

In [57]:
#7
spark.sql("SELECT age, marital, count(*) FROM banking where y = 'yes' group by age, marital order by 1, 2").show()

+---+--------+--------+
|age| marital|count(1)|
+---+--------+--------+
| 18|  single|       7|
| 19|  single|      11|
| 20| married|       1|
| 20|  single|      14|
| 21| married|       1|
| 21|  single|      21|
| 22|  single|      40|
| 23| married|       2|
| 23|  single|      42|
| 24| married|      10|
| 24|  single|      58|
| 25| married|      14|
| 25|  single|      99|
| 26| married|      13|
| 26|  single|     121|
| 27|divorced|       2|
| 27| married|      29|
| 27|  single|     110|
| 28|divorced|       4|
| 28| married|      20|
+---+--------+--------+
only showing top 20 rows